/* notification bar starts*/


/* maybe its a bug(idk), but there are too many empty <a> tag in the middle of code even though it is not in the file.(you can see it from the inspect element.) */
a:empty{
display:none;
}

.notification-bar{
    background: #4594B3;
    display:block !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.header-underline{
    height:1.5px;
    background: #FBD41B;
    padding: 0 !important;
    margin: 0 !important;
}

.notification-bar  a{
    text-transform:capitalize;
    color:#FBD41B;
    /* In font-size, x times wont work.*/
    font-size:1.3rem;
    font-weight:800;
    text-decoration:none;
}
/* notification bar ends */


/* header-top starts */

.header-top a{
    text-decoration:none;
    color:#000;
}


.header-top .quick-contact-desktop-hidden{
    flex: 0 0 15%;
}

.quick-contact-desktop-label{
    text-transform:capitalize;
    font-size:0.9rem;
    font-weight:400;
}

.header-top .email{
    font-size:1.1rem;
    font-weight:420;
}

.quick-contact-desktop span{
    display:block;
}

.quick-contact-desktop-hidden{
flex: 0 0 0%;
}

.quick-contact{
    justify-content:flex-end;
}
.quick-contact-desktop-questions{
    text-align:end;
    margin-right:5px;
}

.quick-contact-desktop-options{
    text-align:end;
    margin-left:25px;
    flex:0 0 60%;
    justify-content:flex-end;
}

.fa-brands{
    font-size:1.4rem;
    margin-right:5px;
    color:#40C351;
}
.fa-viber{
    color:#7E57C2;
}
.header-top .fa-solid{
    font-size:1.4rem;

}
.quick-contact-desktop-options span{
display:block;
}

.quick-contact-desktop-options .tel{
    font-weight:bold;
}

.quick-contact-desktop-options figure img{
    border-radius:50%;
    margin-left:5px;
    height:40px !important;
    width:40px !important;
}

.quick-contact-mobile{
    align-self:end;
    position:relative;
    top:-70px;
}

@media screen and (min-width:768px){
    .quick-contact-mobile{
    display:none !important;
    }
}

@media screen and (max-width:767px){
    .quick-contact-desktop{
        display:none !important;
    }
}
/* header-top ends */


/* header-bottom starts */
.header-bottom{
    margin:0;
    padding:0;
    background-color: #1B2B3A;
    color:#A0D2EE !important;

}

.navbar li a{
    color:#A0D2EE !important;
    margin-right:10px;
}

.search-icon{
    float:right;
    cursor:pointer;
    margin-left:25px;
}
/* header-bottom ends */


/* video-box starts */
@media screen and (max-width:1920px){
    .video-box{
        max-height:600px;
        }
        .hero-video{
            object-fit:cover;
        }
}

.hero-video{
    /* to contain the video in the div , just set width:100%. */
    width:100%;
    height:100%;
    position:relative;
}

.hero-video::after{
content:"";
height:100px;
width:100%;
left:0;
bottom:-40px;
position:absolute;
background:url("./images/bg_after_vid.svg");
background-size: contain;
background-repeat:no-repeat;
z-index:2;
}

.video-header{
    position:absolute;
    top:55px;
    margin:auto;
    width:100%;    
}

.video-header a{
    /* to apply margin, change display to block becuase margin wont work for inline */
    display:block;
    margin:auto;
    width: 46px;
    height: 46px;
    cursor: pointer;
    color: #fff; 
    background-color:rgba(0,0,0,0);
}

.video-header .icon{
    width: 46px;
    height: 46px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    line-height: 1.4;    
    box-sizing: inherit;
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    z-index:999;
}

.video-header-title{
    font-size: 2.625rem;
    font-family: "Rustico-Regular","Courier",sans-serif;
    color: #fff;
    margin-bottom: 8px;
    text-align: center;
}

.fa-play{
    border:3.5px solid white;
    border-radius:50%;
    padding:8px 10px;
    font-size:0.8rem;
}

.form-box{
    position:absolute !important;
    top:160px !important;
}

.form-box form{
    width:50%;
}

.form-box form input{
height:55px !important;
width:100% !important;
border-radius:35px !important;
}

.form-control{
    position: relative;
    color: black!important;
    background-color: #fff;
    text-align: center;
}

.form-box span{
    height:40px;
    width:40px;
    top:8px !important;
    left: 6px !important;
}

.form-box input::placeholder{
    color:black !important;
    position:absolute;
    left:50px;
    top:21px;   
    font-size:0.8rem;
}   
/* video-box ends */


/* carousel-box starts */
.carousel-box{
    position:relative;
    height:650px !important;
    top:50px;
} 

.owl-carousel-box-height-650{
    /* height:650px; */
}

.carousel-box img{
    position:relative;
    top:100px;
}

.carousel-box img.lozad{
    top:0;
}

.trip-advisor__content{
    position:absolute;
    top: -477px !important;
    width: 400px;
    height: 420px;
}

.trip-adviser__header span{
    font-size:0.85rem;
}

.trip-advisor__header img{
    height: 20px !important;
    width: 150px !important;
}

.trip-advisor__quote-description {
    font-size: 2.3rem !important;
    font-family: "Louize-DisplayBold",serif;
    line-height: 1;
    font-weight:bold;
    margin-bottom: 36px;
    opacity: .8;
    position: relative;
    quotes: '\201C' '\201C';
}       

.trip-advisor__quote-description:before {
    content: open-quote;
    display: block;
    height: 100px;
    font-size: 11.875rem;
    opacity: .1;
    position: absolute;
    left: -23px;
    top: -33px;
    font-family: "CerebriSans-Regular",sans-serif;
}

.trip-advisor__quote-description:after {
    content: close-quote;
    display: block;
    height: 100px;
    font-size: 11.875rem;
    opacity: .1;
    position: absolute;
    right: -22px;
    bottom: -17px;
    font-family: "CerebriSans-Regular",sans-serif;
}

.circle-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.circle__box{
    width:12px !important;
    height:12px !important;
}

.trip-advisor__review{
    font-size : 1rem !important;
    font-weight:7.5;
}

.quote-author{
    position:absolute;
    top:-30px;
}

.quote-author::before {
    content: "" !important;
    display: block !important;
    width: 4px !important;
    height: 45px !important;
    background-color: #7ed321 !important;
    position: absolute !important;
    left: -36px !important;
    top:0px !important;
}

.quote-author__name{
    font-size: 1.1rem !important;
    font-weight:medium !important;
}

.quote-author__address{
font-size: 0.6rem !important;
font-weight:bold;
}

.trip-advisor__verify-logo img{
   height:50px !important;
   width:50px !important; 
}

.carousel-title h2{
    position:absolute !important;
    top: 544px;
    left: 175px;
    z-index: 1;
    background: #fff;
    color: #00AA6C;
    font-size: 3rem;
    font-weight: 700 !important;
    padding:0.3rem 0;
    margin-bottom:0 !important;
    }



/* carousel-box ends */





/* footer starts */
footer{
    font-size:0.875rem;
    /* this line height represents the line-height of footer div and not
     elements inside it like color does. For that use footer *{line-height:xrem} */
     /* here 1.4 mean 1.4 times the initial */
    line-height: 1.4;
    font-family: "CerebriSans-Regular",sans-serif;
    text-transform:capitalize;
}

footer *{
    line-height:1.75rem;
}

footer{
color:white;
}

/* footer-top starts */
.footer-top{
    background-color:#305B83;
}

footer .block-title{
    font-family:sans-serif;
    font-weight:600;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-box{
    background-color: #305B83;
    display:flex;
    justify-content:space-between;
    padding:50px 0 52px;
}

.footer-box .uc{
    text-transform:uppercase;
}

/* footer-contact starts*/
.footer-contact{
    flex: 0 0 27%;
}
.footer-contact{
    position: relative;
    height:275px;
    color:white;
}
.footer-contact a{
color:white;
text-decoration:none;
border-bottom:1px solid rgba(255,255,255,0.5);
}

.footer-contact .social-links{
    position:absolute;
    top:260px;
}

.social-links a{
    text-decoration:none;
    border:none;
  }
  
  .social-links i{
    height:36px !important;
    width:36px !important;
    /* vertical align only applies to inline. */
    vertical-align:baseline;
    text-align:center;
    border:1px solid white;
    border-radius:50%;
    color:white;
    /* inline-flex makes the container inline while block-flex makes items block. */
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:0.3rem;
    font-size:0.9rem;
  }

    /* footer-contact ends */


    /* footer-newsletter starts */
    .footer-newsletter{
        flex: 0 0 25.93%;
    }

    .footer-newsletter input{
        background-color: rgba(0,0,0,0.25);
        border-radius: 4px !important;
        padding: 14px 20px !important;
        text-align:center;
        text-transform:capitalize;
        margin-bottom:1.1rem;
        border:none;
    }

    input::placeholder{
    color:rgba(255,255,255,0.7) !important;    
    font-size:0.875rem;
    }

    input[value]{
        font-size:1rem !important;
        color: #4594b3 !important;
        font-weight:bold !important;
        font-family: "CerebriSans-Bold",sans-serif !important;
        border-radius:50px !important;
        height:40px;
    }

    .footer-newsletter input:last-child{
        padding: 0.5rem;
    background: white;
    border-radius: 2rem;
    }
    /* not will apply the effect in everything except the specified one in not parameter. */
    /* :not(.footer-newsletter input:last-child){
        background-color: rgba(0,0,0,0.25);
        padding: 14px 20px;
        margin-bottom:2rem;
    } */

    /* list style can be applied in both ul and li */
    footer ul:nth-child(1){
        list-style:none;
        padding-left:0px;
    }

    footer ul{
        list-style:none;
    
    }
    .links-box{
        justify-content: space-between;
    }
    /* footer-newsletter ends*/


    /* footer-links starts */
    .footer-links{
        flex:0 0 32.5%;
    }
    /* footer-links ends*/
/* footer-top  ends*/


/* footer-bottom starts */
.footer-bottom{
color:black;
}

.footer-bottom h2{
    text-align:center;
    font-size:0.875rem;
    font-weight:750;
    line-height:1.4;
    margin:20px 1.5rem 5px; 
    text-transform:uppercase;
}

.footer-bottom .payment-box{
    margin:0 auto 30px!important;
    max-width:500px;
}

.footer-bottom p{
    font-size:0.8rem;
    text-align:center;
    margin-top:20px;
}
/* footer-bottom ends */