/* global variables starts */
h1{
    font-size:3.3749;
    color:black !important;
}
.section-padding{
    padding:3rem 0;
}

.section-margin{
    margin:1.5rem 0;
}

.section-padding-sm{
    margin:1.5rem 0;
}

.section-margin-sm{
    margin:0.75rem 0;
}

.section-padding-lg{
    padding:4.5rem 0;
}


/* maybe its a bug(idk), but there are too many empty <a> tag in the middle of code even though it is not in the file.(you can see it from the inspect element.) */
.btn-primary-sm{
    border:1px solid blueviolet;
    padding: 0.2rem 1.5rem;
    border-radius: 2vw;
    }

.btn-primary-md{
    width:48%;
    height:40px;
    background: rgba(0,0,0,0);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    font-size: 0.95rem;
    border-radius: 30px;
    font-family: sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

p{
    font-size: 0.95rem;
    font-family: sans-serif;
    color: grey;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}
/* global variables ends */

/* notification bar starts*/

.no-bg{
    background-color:rgba(0,0,0,0) !important;
    color:black !important;
}

@font-face {
    font-family: "ok";
    src: url(./fonts/LouizeDisplay-Bold.otf);
}



a:empty{
display:none;
}

.notification-bar{
    background: #4594B3;
    display:block !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.header-underline{
    height:1.5px;
    background: #FBD41B;
    padding: 0 !important;
    margin: 0 !important;
}

.notification-bar  a{
    text-transform:capitalize;
    color:#FBD41B;
    /* In font-size, x times wont work.*/
    font-size:1.3rem;
    font-weight:800;
    text-decoration:none;
}
/* notification bar ends */


/* header-top starts */

.header-top a{
    text-decoration:none;
    color:#000;
}


.header-top .quick-contact-desktop-hidden{
    flex: 0 0 15%;
}

.quick-contact-desktop-label{
    text-transform:capitalize;
    font-size:0.9rem;
    font-weight:400;
}

.header-top .email{
    font-size:1.1rem;
    font-weight:420;
}

.quick-contact-desktop span{
    display:block;
}

.quick-contact-desktop-hidden{
flex: 0 0 0%;
}

.quick-contact{
    justify-content:flex-end;
}
.quick-contact-desktop-questions{
    text-align:end;
    margin-right:5px;
}

.quick-contact-desktop-options{
    text-align:end;
    margin-left:25px;
    flex:0 0 60%;
    justify-content:flex-end;
}

.fa-brands{
    font-size:1.4rem;
    margin-right:5px;
    color:#40C351;
}
.fa-viber{
    color:#7E57C2;
}
.header-top .fa-solid{
    font-size:1.4rem;

}
.quick-contact-desktop-options span{
display:block;
}

.quick-contact-desktop-options .tel{
    font-weight:bold;
}

.quick-contact-desktop-options figure img{
    border-radius:50%;
    margin-left:5px;
    height:40px !important;
    width:40px !important;
}

.quick-contact-mobile{
    align-self:end;
    position:relative;
    top:-70px;
}

@media screen and (min-width:768px){
    .quick-contact-mobile{
    display:none !important;
    }
}

@media screen and (max-width:767px){
    .quick-contact-desktop{
        display:none !important;
    }
}
/* header-top ends */


/* header-bottom starts */
.header-bottom{
    margin:0;
    padding:0;
    background-color: #1B2B3A;
    color:#A0D2EE !important;

}

.navbar li a{
    color:#A0D2EE !important;
    margin-right:10px;
}

.search-icon{
    float:right;
    cursor:pointer;
    margin-left:25px;
}
/* header-bottom ends */


/* video-box starts */
@media screen and (max-width:1920px){
    .video-box{
        max-height:600px;
        }
        .hero-video{
            object-fit:cover;
        }
}

.hero-video{
    /* to contain the video in the div , just set width:100%. */
    width:100%;
    height:100%;
    position:relative;
}

.hero-video::after{
content:"";
height:100px;
width:100%;
left:0;
bottom:-40px;
position:absolute;
background:url("./images/bg_after_vid.svg");
background-size: contain;
background-repeat:no-repeat;
z-index:2;
}

.video-header{
    position:absolute;
    top:55px;
    margin:auto;
    width:100%;    
}

.video-header a{
    /* to apply margin, change display to block becuase margin wont work for inline */
    display:block;
    margin:auto;
    width: 46px;
    height: 46px;
    cursor: pointer;
    color: #fff; 
    background-color:rgba(0,0,0,0);
}

.video-header .icon{
    width: 46px;
    height: 46px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    line-height: 1.4;    
    box-sizing: inherit;
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    z-index:999;
}

.video-header-title{
    font-size: 2.625rem;
    font-family: "Rustico-Regular","Courier",sans-serif;
    color: #fff;
    margin-bottom: 8px;
    text-align: center;
}

.fa-play{
    border:3.5px solid white;
    border-radius:50%;
    padding:8px 10px;
    font-size:0.8rem;
}

.form-box{
    position:absolute !important;
    top:160px !important;
}

.form-box form{
    width:50%;
}

.form-box form input{
height:55px !important;
width:100% !important;
border-radius:35px !important;
}

.form-control{
    position: relative;
    color: black!important;
    background-color: #fff;
    text-align: center;
}

.form-box span{
    height:40px;
    width:40px;
    top:8px !important;
    left: 6px !important;
}

.form-box input::placeholder{
    color:black !important;
    position:absolute;
    left:50px;
    top:21px;   
    font-size:0.8rem;
}   
/* video-box ends */


/* carousel-box starts */
.carousel-box{
    position:relative;
    height:650px !important;
    top:50px;
} 

.owl-carousel-box-height-650{
    /* height:650px; */
}

.carousel-box img{
    position:relative;
    top:100px;
}

.carousel-box img.lozad{
    top:0;
}

.trip-advisor__content{
    position:absolute;
    top: -477px !important;
    width: 400px;
    height: 420px;
}

.trip-adviser__header span{
    font-size:0.85rem;
}

.trip-advisor__header img{
    height: 20px !important;
    width: 150px !important;
}

.trip-advisor__quote-description {
    font-size: 2.3rem !important;
    font-family: "Louize-DisplayBold",serif;
    line-height: 1;
    font-weight:bold;
    margin-bottom: 36px;
    opacity: .8;
    position: relative;
    quotes: '\201C' '\201C';
}       

.trip-advisor__quote-description:before {
    content: open-quote;
    display: block;
    height: 100px;
    font-size: 11.875rem;
    opacity: .1;
    position: absolute;
    left: -23px;
    top: -33px;
    font-family: "CerebriSans-Regular",sans-serif;
}

.trip-advisor__quote-description:after {
    content: close-quote;
    display: block;
    height: 100px;
    font-size: 11.875rem;
    opacity: .1;
    position: absolute;
    right: -22px;
    bottom: -17px;
    font-family: "CerebriSans-Regular",sans-serif;
}

.circle-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.circle__box{
    width:12px !important;
    height:12px !important;
}

.trip-advisor__review{
    font-size : 1rem !important;
    font-weight:7.5;
}

.quote-author{
    position:absolute;
    top:-30px;
}

.quote-author::before {
    content: "" !important;
    display: block !important;
    width: 4px !important;
    height: 45px !important;
    background-color: #7ed321 !important;
    position: absolute !important;
    left: -36px !important;
    top:0px !important;
}

.quote-author__name{
    font-size: 1.1rem !important;
    font-weight:medium !important;
}

.quote-author__address{
font-size: 0.6rem !important;
font-weight:bold;
}

.trip-advisor__verify-logo img{
   height:50px !important;
   width:50px !important; 
}

.carousel-title h2{
    position:absolute !important;
    top: 544px;
    left: 175px;
    z-index: 1;
    background: #fff;
    color: #00AA6C;
    font-size: 3rem;
    font-weight: 700 !important;
    padding:0.3rem 0;
    margin-bottom:0 !important;
    }



/* carousel-box ends */


/* about-us starts */
/* head starts */
.about-block-head{
    position:relative;
    padding-bottom:50px;
}

.about-block-title-box{
    padding-top:20px;
}

.about-block-head::before{
    position:absolute;
    content:"";
    height: 112px;
    width:1px;
    top:22px;
    left: 330px;
    background-color: #1F9CD7;
    z-index:99;
}

.about-block-head h2{
    font-size:1.5rem;
    text-align:start;
    margin-left: 350px;
    width:35%;
    line-height:1.5;
    color:#000;
    }

    .about-block-head h3{
        margin-left: 350px;
        width:35%;
        font-size:0.8rem;
        text-align:start;
        margin-top:10px; 
    }
    /* head ends */


    /* main starts */
    .about-block-main{
     /* to position .about-block-main-trekker absolute to .about-block-main */
     background: #1F9CD7;
     position:relative;   
     display:flex;
     justify-content: end;
     }

    .about-block-main .images-box{
        /* position:absolute;
        top:-150px;
        left:50px; */
        position: absolute;
        top: -170px;
        left: 50px;
    }

    .about-block .wave-box img{
        width:99%;
    }

   .images-box img{
       border: 2px solid white;
       position: relative;
       top: 30px;
   }

  .images-box img:last-child{
    position: relative;
    top: 165px;
    left: -110px;
}

   .about-block-main p{
       font-size:0.9rem;
       margin-top:50px;
       text-align:left;
       padding-left: 100px;
       color:white;
       overflow:visible;

   }

   .about-block-main a{
       text-decoration:none;
       margin-left: 100px;
       border-bottom: 1px solid rgba(255,255,255,0.7);
       color:white;
   }
   
   .about-block-main-trekker {
    position: absolute;
    z-index: 9;
    right: -25px;
    top: -187px;
    }
    
    .col-relative{
    position:relative;
    }

    .wave-box{
    position:absolute;
    bottom: 5px;
    }
    .about-us
   /* main ends */
   /* about-us ends */


   /* trip-section starts */
    .trip-section{
    color:white;
    }

    .trip-section-main .col-md-6 + a{
        display:none;
    }

   .trip-card-box{
    position:relative;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom:1rem;
    padding-top:1rem;
}

.thumbnail{
    position:relative;
}

.trip-card-box figure{
position:relative;
}

.trip-card-box figure:hover::before{
    content:"";
    /* because it is absolute, it is coming above the child element. */
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.3);
}
.badge-box{
       background-color: #0289F2;
       width:fit-content;
       position:absolute;
       top:-5px;
       right:10px;
       padding: 0.05rem 0.5rem;
}

   .badge-box::before{
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: url(./images/badge_bg.png) repeat 0 0;
   opacity: .2;
}

.badge-box::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 4.100000000000001px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    top: 0px;
    left: -4px;
    display: block;
}

    .badge-box i{
        font-size:0.8rem;
    }
    
    .button-box{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display:none;
        transition: all 3s ease 2s;
    }

   .trip-card-box figure:hover ~ .button-box{
        display:block;
            }
            

    .trip-section .button-box [href="#"]{
        color:red;
        text-decoration:none;
        border-radius:40px;
        padding:0.5rem 2rem;
        font-size:0.9rem;
        text-align:center;
        font-weight:bold;
        text-transform:capitalize;
    }
    
    .button-box .learn-more-button{
        color:white !important;
        font-weight:600;
        text-decoration:none;
        display:block;
        font-size: 1rem;
        padding:0.5rem 2rem;
        text-align:center;
        }

        .trip-card-box .price-box{
            text-align:center;
            padding:0.2rem 0.4rem;
            background:#4594b3;
            width:170px;
            position: absolute;
            right: -10px;
            bottom: 10px;
        }

        .trip-card-box del{
            font-size:0.9rem;
        }

        .trip-card-box sup{
            font-size:1.1rem;
            font-weight:bold
        }

        .trip-card-box .sale-price{
            font-size:1.9rem;
        }

        .stars-section{
            color:orange;
        }

        .text-section{
            font-size: 1rem;
            font-weight:600;
            font-family: sans-serif;
            color:white !important;
        }

        /* review-section starts */
        .review-section{
            position:absolute;
            bottom:3.5px;
            left:20px;
            padding:0;
        }

        .review-section i{
        font-size:1rem;
        }
        /* review-section ends */

        /* meta-starts */
        .meta{
            color:black;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .meta h4{
            text-transform:capitalize; 
            font-size:2rem;
        }
        
        .meta-flex{
         justify-content:space-between;
        }
        
        .meta i{
            align-self:center !important;
            font-size:3rem;
            width:fit-content;
        }
        
        .meta .meta-body-text{
            align-self:center;
        }

        .meta p{
            margin:0;
            padding:0;
        }
        /* meta-ends */

   /* trip-section ends */

   /* best-seller-section starts */

   .best-seller-section .badge-box {
    top: -5px;
    background-color: orange;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    /* top: -5px; */
    /* right: 10px; */
    padding: 0.05rem 0.5rem;
}

   .best-seller-section .content-box{
    color:white;
   }

   .best-seller-section .review-section a{
    color:white;¡
   }

   .best-seller-section{
   background: url("images/best-seller.jpeg"); 
   background-size:cover; /* or you can also specify 100% which mean 100% of the actual image size and not the 100% of parent.*/
   background-repeat:no-repeat;
   background-position:50% 50%;  /* or just 50% is okay. */
   height: 105vh;
   position:relative;
   }

.best-seller-section h2{
    color:white;
}

.fa-star{
    color:orange !important;
}

   .best-seller-section::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
   }

   .best-seller-section .second-col{
    flex: 0 0 70%;
    margin:auto;
    justify-content: space-between;
   }

   .flex-boxxed{
    flex: 0 0 21%;
   }

   .best-seller-section .flex-boxxed .img-box{
    align-self:center;
    font-size:3rem;
   }

   .best-seller-section .flex-boxxed .content-box{
    align-self:center;
   }

   .best-seller-section .content-box{
    flex:0 0 55%;
   }

   .best-seller-section .img-box{
    flex: 0 0 35%;
   }

   .best-seller-section .flex-boxxed{
    justify-content:space-between;
   }

   .best-seller-section .review-section{
        position:relative;
   }
   .best-seller-section .fa-solid{
    color:white;
   }

   /* best-seller-section ends */

   /* experience-nepal-section starts */
    .experience-nepal-section{
        background: rgba(0,0,0,0.05);
    }

   .experience-nepal-section .first-col{
    justify-content: space-between;
   }

   .experience-nepal-section .content-section{
    flex:0 0 37%;
   }

   .experience-nepal-section .recommend-section{
    color:grey !important;
    flex:0 0 37%;
    margin: 1rem 0rem;
    }

    .recommend-section h6{
        font-size:0.68rem;
        color:grey;
        font-weight:bold;
        letter-spacing: normal;
        opacity:0.5;
        font-family:sans-serif;
        text-transform: uppercase;
        word-spacing:3px;
        letter-spacing:1px;
        }
    
    .recommend-section .d-flex{
        justify-content:space-between;
    }
    
    .svg-section{
    background: url("./images/experience-nepal-section-bottom.svg");
    background-repeat:no-repeat;
    background-size:100%;
    height:30px;
    }
   /* experience-nepal-section ends*/


   /* join-upcoming-tripss starts */
   .join-upcoming-trips .button-boxxed{
    justify-content: space-between;
    flex: 0 0 90%;
    position:relative;
   }

   .join-upcoming-trips .btn-primary-md{
    box-shadow: 0 0 2px 0 #0c0c0c;
   }

   .select-box{
    appearance:none;
   }

   .button-boxxed{
    position:relative;
   }

   .button-boxxed i{
    display:inline-block;
    position: absolute;
    right: 40px;
    top:10px;
    font-size:0.9rem;
    height:10px;
    transform:scale(1,1.15);
   }
   
   .bg-red{
    background:red;
    padding:2px 4px;
    border-radius:0.3rem;
    color:white;
    font-family:sans-serif;
    font-size:0.9rem;
    text-transform: uppercase;
    margin-left:20px;
   }
   
   del{
    color:grey;
   }

   .table-flex-box{
    justify-content: space-between;
   }

   .align-self-p{
    align-self:center;
    padding:0;
    margin: 0;
   }

   /* table starts */
    table{
        border-collapse:collapse;
}

   td{
    padding:1rem 0;
    border-bottom: 1px solid grey;
    }

    .line.bg-info{
        display:none !important;
    }
   /* table ends */


   /* join-upcoming-trips ends */


   /* what-sets us apart starts */
   .what-sets .box p{
    color:white;
   }
   .what-sets h6, .what-sets h6+p{
    color:white;
   }

   .what-sets{
    height: 900px;
    position:relative;
    background: #4594b3;
    color:white;
   }

   .what-sets .col-md-3{
    margin:0 0 50px !important;
   }

   .what-sets .row.m-0 .col-md-3{
    margin:0 0 20px 0 !important;
   }

   .what-sets .carousel-box{
    top:0px !important;
   }

   .what-sets .fa{
    font-size:3rem;
    margin-bottom:2rem;
   }

   .what-sets .card{
    align-items:center;
   }

   .what-sets .card img{
    top:0;
    }

   .what-sets::before{
    content:"";
    position:absolute;
    top: -10px;
    left:0;
    width:100%;
    height:2%;
    background:url(./images/what_sets_top.svg) no-repeat;
    z-index:1;
    transform: rotate(180deg);
   }
   

   .what-sets::after{
    content:"";
    position:absolute;
    bottom: -10px;
    left:0;
    width:100%;
    height:2%;
    background:url(./images/what_sets_bottom.svg) no-repeat;
    z-index:1;
    transform: rotate(0deg);
   }

   .what-sets .carousel-box{
    height:200px !important;
   }
   /* what-sets us apart ends */

   /* short rewarding starts */

   /* short rewarding ends */


   /* outreach fund starts */
   .outreach-fund{
    height:900px;
   }

   .outreach-fund p{
    margin:20px 0 !important;
   }

   .outreach-fund h2{
    margin:0 !important;
    color:white !important;
    font-family: "ok";
   }

   .outreach-fund .con-box{
    color:white !important;
   }

   .outreach-fund .content-box{
    color:white !important;
   }

   .outreach-fund p{
    color:white !important;
   }

   .bg-yellow{
    height:50%;
    background-color: yellow;
    position:relative;
   }

   .bg-yellow .content-box{
    width:30%;
    height:40%;
    position:absolute;
    left:5%;
    top:5%;
    color:black !important;
    }

   .bg-yellow .content-box p{
    color:black !important;
    font-size:2.5rem;
    font-weight:light;
    transform: scaleY(1);
    line-height: 1.2;
    text-transform:uppercase;
    width:350px;
    font-family: 'Open Sans', sans-serif;
   }

   .bg-yellow .content-box p .bolder{
    font-weight:bold;
   }

   .bg-green{
    height: 90%;
    background-color: green;
    width: 55%;
    position: absolute;
    right: 2rem;
    top: -4rem;
    border: 5px solid white;
    z-index: 5;
    align-items:center;
   }
   
   .bg-green .con-box{
    flex-direction:column;
    width:90%;
    height:90%;
    align-items:center;
    top:0%;
   }

    .bg-green .con-box h2{
        font-size:4rem;
        color:white !important;
        font-family:"ok";
        
    }

    .bg-green .con-box .box{
        width:90%;
        }

   .bg-green .con-box p{
    font-weight:normal;
    font-size:0.8rem;
    color:white;
    width:100%;
    font-family:sans-serif;
    line-height:2;
    text-transform: lowercase !important;
    margin:0 0 20px;
   }
   
   .bg-orange{
    height:75%;
    background-color: orange;
    border:5px solid white;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
   }

   .bg-orange .content-box{
    flex-direction:column;
    justify-content:center;
    width:75%;
    align-items:center;
    position:absolute;
    top: 175px;
    }

    /* the problem is in thumbnail. */
   .outreach-fund .thumbnail{
    height: 85%;
    width: 95%;
    background: url(./images/outreach_fund_thumbnail.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: -30%;
   }

  .bg-orange a{
    letter-spacing:2px;
    text-transform:uppercase;
   }

   .bg-orange a{
    position:relative;
   }

   .bg-orange a i{
   color:orange;
   }

   .bg-orange .btn{
    background-color: white !important;
    font-weight:bold;
    color:orange;
   }
   /* outreach fund ends */

   /* plan-your starts */
   section.plan-your{
    height:600px;
    width:100%;
    align-items:center;
    justify-content:center;
    color:white !important;
    position:relative
   }
   .plan-your::before{
   content:"";
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background: url("./images/plan_your.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   }

   .plan-your .flex-box{
    align-items:center;
   }

   .plan-your h1{
    font-family:"anyname";
    color:white;
   }

   /* plan-your ends*/


   /* recent-from starts */
    .recent-from .content-box{
        padding:1.5rem;
    }

    .recent-from .btn{
        padding:0.5rem 2rem !important
    }
    
    .recent-from .box-shadow-box{
        box-shadow: 0px 10px 8px #eaeaeaaa;
    }
   /* recent-from ends*/

   /* we-are starts */
   .we-are{
    height: 775px !important;
   }

   .we-are .flex-box{
    justify-content:space-between;
   }

   .we-are .item{
   }

   .recent-from img{
    /* object-fit:fill; */
    height:100% !important;
    width:100% !important;
   }

   .img-fluid{
    object-fit:contain !important;
   }
   /* we-are ends */




/* footer starts */
footer{
    font-size:0.875rem;
    /* this line height represents the line-height of footer div and not
     elements inside it like color does. For that use footer *{line-height:xrem} */
     /* here 1.4 mean 1.4 times the initial */
    line-height: 1.4;
    font-family: "CerebriSans-Regular",sans-serif;
    text-transform:capitalize;
}

footer *{
    line-height:1.75rem;
}

footer{
color:white;
}

/* footer-top starts */
.footer-top{
    background-color:#305B83;
}

footer .block-title{
    font-family:sans-serif;
    font-weight:600;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-box{
    background-color: #305B83;
    display:flex;
    justify-content:space-between;
    padding:50px 0 52px;
}

.footer-box .uc{
    text-transform:uppercase;
}

/* footer-contact starts*/
.footer-contact{
    flex: 0 0 27%;
}
.footer-contact{
    position: relative;
    height:275px;
    color:white;
}
.footer-contact a{
color:white;
text-decoration:none;
border-bottom:1px solid rgba(255,255,255,0.5);
}

.footer-contact .social-links{
    position:absolute;
    top:260px;
}

.social-links a{
    text-decoration:none;
    border:none;
  }
  
  .social-links i{
    height:36px !important;
    width:36px !important;
    /* vertical align only applies to inline. */
    vertical-align:baseline;
    text-align:center;
    border:1px solid white;
    border-radius:50%;
    color:white;
    /* inline-flex makes the container inline while block-flex makes items block. */
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:0.3rem;
    font-size:0.9rem;
  }
    /* footer-contact ends */


    /* footer-newsletter starts */
    .footer-newsletter{
        flex: 0 0 25.93%;
    }

    .footer-newsletter input{
        background-color: rgba(0,0,0,0.25);
        border-radius: 4px !important;
        padding: 14px 20px !important;
        text-align:center;
        text-transform:capitalize;
        margin-bottom:1.1rem;
        border:none;
    }

    input::placeholder{
    color:rgba(255,255,255,0.7) !important;    
    font-size:0.875rem;
    }

    input[value]{
        font-size:1rem !important;
        color: #4594b3 !important;
        font-weight:bold !important;
        font-family: "CerebriSans-Bold",sans-serif !important;
        border-radius:50px !important;
        height:40px;
    }

    .footer-newsletter input:last-child{
        padding: 0.5rem;
    background: white;
    border-radius: 2rem;
    }
    /* not will apply the effect in everything except the specified one in not parameter. */
    /* :not(.footer-newsletter input:last-child){
        background-color: rgba(0,0,0,0.25);
        padding: 14px 20px;
        margin-bottom:2rem;
    } */

    /* list style can be applied in both ul and li */
    footer ul:nth-child(1){
        list-style:none;
        padding-left:0px;
    }

    footer ul{
        list-style:none;
    
    }
    .links-box{
        justify-content: space-between;
    }
    /* footer-newsletter ends*/


    /* footer-links starts */
    .footer-links{
        flex:0 0 32.5%;
    }
    /* footer-links ends*/
/* footer-top  ends*/


/* footer-bottom starts */
.footer-bottom{
color:black;
}

.footer-bottom h2{
    text-align:center;
    font-size:0.875rem;
    font-weight:750;
    line-height:1.4;
    margin:20px 1.5rem 5px; 
    text-transform:uppercase;
}

.footer-bottom .payment-box{
    margin:0 auto 30px!important;
    max-width:500px;
}

.footer-bottom p{
    font-size:0.8rem;
    text-align:center;
    margin-top:20px;
}
/* footer-bottom ends */