.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

@media (min-width: 1200px) and (max-width: 1222px) {
}

@media (min-width: 992px) and (max-width: 1199px) {

.top-mid .col-md-7 .col-md-4 {  width: 23.333%;} 	
.top-mid .col-md-7 .col-md-3 {  width: 28%;}
.top-mid .col-md-7 .col-md-5 {  width: 46.667%;}
.banner .carousel-caption h2 { font-size: 24px;}
.banner .carousel-caption { left: 42%; top: 15%;}
.why-us img { margin-top: 80px; }
.footer .col-lg-3 { min-height: 200px; }
.services_page p { min-height: 250px; }

.banner .carousel-inner img { height: 650px; object-fit: cover; width: 100%; }

}

@media (min-width: 1025px) {	

}

@media (max-width: 1024px) {

}

@media (min-width: 992px) {	

}

@media (max-width: 991px) {

.welcome { padding: 10px 0 30px; }	
.services { padding: 10px 0 30px; }	
.welcome p { padding: 0; }
.gallery-image img { height: 200px;}
.gallery-home {padding: 10px 0 30px;}
.why-us img { display: none; }
.why-us h2 { margin-top: 30px; }
.why-us { padding-bottom: 30px; }
}

@media (min-width: 768px) {
.navbar-brand{ display:none;}
.modal-dialog { width: 760px;}
}

@media (min-width: 768px) and (max-width: 991px) {
.navbar-default .navbar-nav > li > a {  margin-right: 40px;}
.banner .carousel-caption {left: 35%; top: 10%; width: 500px;}
.banner .carousel-caption h2 { font-size: 20px;}
.banner .carousel-caption p { font-size: 14px;}
.banner .carousel-caption .readmore { font-size: 13px; }
.footer .col-sm-6 { min-height: 180px;}
.footer { height: 480px; overflow: hidden;}
.banner .carousel-inner img { height: 690px; object-fit: cover; width: 100%; }

}


@media (max-width: 767px) {	

.top-email { display: none; }
.navbar-default .navbar-nav > li > a { padding: 10px 0; margin-right: 0;}
.navbar-default .quote { display: none; }
.navbar-default li { text-align: left; margin-left: 15px; }
.carousel-caption { display: none !important; }

.home_quote .form-box { text-align: center;  width: 80%; }
.home_quote .bottom-head { width: 80%;}
.home_quote .bottom-head p { float: none;	}

.banner .carousel-inner img { height: 750px; object-fit: cover; width: 100%; }
}


@media (max-width: 665px){
	

}

@media (max-width: 567px){

}

@media (min-width: 566px){


}

@media (max-width: 565px){
.header-top .col-xs-7 { width: 48.333%;}
.header-top .col-xs-5 { width: 51.667%;}
.services_page p { min-height: auto; }
.services_page .col-xs-6 { width: 100%; }

.banner .carousel-inner img { height: 1000px; object-fit: cover; width: 100%; }
}


@media (max-width: 500px){


}
	
@media (max-width: 480px) {
	
.services .col-xs-6 { width: 100%; }
.services-page .col-xs-6 { width: 100%; }
.header-top .col-xs-7 { width: 100%;}
.header-top .col-xs-5 { display: none;}
.top-mid h4 { margin-top: 15px;}
h1 { font-size: 22px; }
h2 { font-size: 22px; }
.gallery-image img { height: 150px;}

.form-box .col-xs-6 { width: 100%; }

}


@media (min-width: 320px) and (max-width: 380px) {

}
